body{
	background:#333333;
	margin:0px;
	font-size:10pt;
	color:#6a6969;
}

#header{
	width:800px;
	height:100px;
	background-color:#222222;
	font-size: 20px;
	font-family: Arial;
	position: fixed;
	padding:0px 50px;
	left:50%;
	margin: 0 0 0 -450px;
}

#header #logo{
	padding-top:20px;
	float:left;
}

#header #menu{
	padding-top:50px;
	float:right; 
}

#header #menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 40pt;
}

#header #menu a{
	text-decoration:none;
	color:#FFFFFF;
}

#header #menu a:hover{
	color:#979797;
    text-decoration:underline;
}

#footer{
	width:900px;
	height:90px;
	background-color:#222222;
	font-size: 15px;
	font-family: Arial;
	margin:0px auto 0px auto;
}

#footer p{
	padding-top:40px;
	padding-left:300px;
}

#footer #social{
	float:left; 
	padding-top:0px;
}

#footer #social li{
	float:left; 
	list-style:none;
	padding-top: 5px; 
	margin-left:10px;
}

h1{
	font: 40px Georgia; 
	color:#DDDDDD;
	padding-left: 50px;
}

#container{
	width:900px;
	margin:0px auto -20px auto;
	background:#444444;
	overflow:auto;
	padding-bottom:100px;
	padding-top:100px;
}

#container .content{
	overflow:auto;
}

#container .content #left{
	float:left;	
	padding-left: 50px;
	width: 500px;
}

#container .content h2{
	font: 20px Georgia; 
	color:#AAAAAA;
}

#container .content p{
	font: 15px Georgia; 
	color:#999999;
	text-align:left;
}

#container .content #right{
	float:right;
	padding-right: 50px;
}


