html {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: arial;
	text-align: center;
	font-size: 10px;
	color: #FFFFFF; 
    background: url(background.jpg) center no-repeat;
    margin: 0;
	padding-top: 0px;
    padding-right: 0px;
	padding-bottom: 12px;
    padding-left: 0px;
	list-style: none;
}

#wrapper {
	margin: 16px auto;
	text-align: left;
	position: relative;
	background: #FF7F00;
	padding: 0;
	list-style: none;
	width: 1000px;
}

#nav li.a   { background: green; font-size: 13px; }
#nav li.b   { background: blue; font-size: 13px }
#nav li.c   { background: purple; font-size: 13px }
#nav li.d   { background: red; font-size: 13px}

#nav {
	position: absolute;
	top: 15px;
	right: 0;
	width: 42em;
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	width: 7em;
	float: left;
	margin: 0 0.3em;
	padding: 0;
}

#nav a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 4px 0;
	display: block;
	text-align: center;
}

#nav a:hover {
	color:black;
}


#footer {
	margin-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#footer, #footer a {
	font-weight: normal;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a:hover {
	color: #fff;
	text-decoration: underline;
}


h1 {
	font-size: 12px;
	margin: 0;
	padding: 0;
    list-style: none;
    margin-bottom: 2px;
}


th, td {
	font-size: 20px;
}

img { border: 0; }



h2, h3 {
	font-size: 12px;
}



h2 {
	margin: 0 0 5px 0;
	padding: 0;
}

h3 {
	padding: 4px 0 0 0;
}

p {
	margin: 1em 0;
	padding: 0;
}

.block {
	display: block;
}

.clear {
	clear: both;
	height: 1px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1px;
	line-height: 1px;
}

* html .clear {
	margin-top: -5px;
	margin-bottom: -4px;
}

.left {
	float: left;
	margin: 1px 12px 0px 0px;
}

.softright {
	text-align: right;
}

/* ***** */




/* body */

#body { 
	width: 95%; 
	margin: auto;
	text-align: left;
	position: relative;
}

#body { background: #36648B url(images/body_bg.gif); }
#body div { background: url(images/body_tl.gif) top left no-repeat; }
#body div div { background: url(images/body_tr.gif) top right no-repeat; }
#body div div div { background: url(images/body_bl.gif) bottom left no-repeat; }
#body div div div div { background: url(images/body_br.gif) bottom right no-repeat; }
#body .inner div { background: none; }

#body .inner {
	color: white;
	padding: 18px 20px;
}

#body h2 {
	margin-top: 3px;
	text-indent: -3px;
}

* html #body h2 {
	margin-top: 21px;
	marg\in-top: 3px;
}

#body p {
	margin: 1em 0;
}

#body #dividerx {
	clear: both;
	margin: 0 1em;
	padding: 12px 0;
	background: url(images/divider_h.gif) 12px 12px repeat-x;
}

/* darkboxes */

* html #boxes, * html #boxes .inner { width: 100%; }
* html #body #boxes #left .inner  { width: 100%; w\idth: 90%; }
* html #body #boxes #right .inner { width: 100%; w\idth: 95%; }

#body #boxes { background: url(images/box_bg.gif) repeat-y; }
#body #boxes div { background: url(images/box_t.gif) top left no-repeat; }
#body #boxes div div { background: url(images/box_b.gif) bottom left no-repeat; }
#body #boxes .inner div { background: none; }

#body #boxes .inner {
	color: white;
	padding: 0;
}

#left {
	float: left;
	width: 194px;
}

#right {
	float: right;
	width: 404px;
}

#body #boxes #left .inner,
#body #boxes #right .inner {
	padding: 10px 11px 0px 11px;
}

#boxes ul {
	margin: 0;
	padding: 0;
}

* html #boxes ul {
	margin-left: -0.7em;
	marg\in-left: 0.0em;
}

#boxes li {
	margin: 0.4em 1.8em 0.2em 0.1em;
	padding: 0;
	list-style: none;
}

a {
	font-weight: bold;
}

#left .lowright {
	float: right;
	margin: 0 0 0 1em;
	display: inline;
}

* html #left .lowright {
	margin-bottom: -5px;
}

